.preset {
    background-color: #00FFFF;
    position: relative;
}

.preset-empty {
    background-color: #ff79fb;
}

.key-border {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ccc;
    padding: 2px 5px 8px;
    display: inline-block;
}

.preset .key-border {
    position: absolute;
}

.key {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    color: #fff;
}

.ui-draggable .key {
    cursor: move;
}

.key-border.drop-hover, .key-border.ui-selected {
    background-color: #28a4c9;
}

.key-border.ui-selecting {
    background-color: deepskyblue;
}

.key-border.drop-accept .key {
    border: 2px dotted #666;
}

.key-label {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
}

.key-label div {
    display: table-cell;
    text-shadow: black 1px 1px 0.1em;
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

#layers-two, #colors, #macros, #keys .container {
    background-color: #FFC;
    padding: 10px;
    text-align: center;
}

/*#layers-two #special-keys #goto-keys {*/
/*width: 50%;*/
/*}*/

#layers-two #toggle-keys, #layers-two #goto-keys {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.keys .key-container {
    margin-right: 5px;
    display: inline-block;
}

#colors {
    height: 330px;
}

h1 {
    text-align: left;
    font-size: 63px;
    margin: 0;
}

#colors #hexagon {
    display: block;
    float: left;
}

#colors .color-div {
    float: left;
    width: 33%;
}

.key-container.special:not(.color) .key-border {
    background-color: #337AB7;
}

#macros .macro {
    margin-top: 10px;
    display: flex;
    border: 1px solid #aaa;
}

#macros .macro.sortable-hover {
    border: 2px dotted #000;
}

#macros .macro .macro-key {
    border-right: 1px solid #aaa;
    padding: 5px;
}

#macros .macro .keys {
    padding: 5px;
    width: 100%;
}

#macros #specials {
    display: inline-block;
}

#brands .media {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 4px solid transparent;
}

#brands .media-body {
    padding: 10px;
}

#brands .media.active {
    border: 4px solid #ccc;
}

#brands .media span {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

#brands .media img {
    height: 250px;
}

#ergonomics div {
    background-color: #DDD;
    border: 2px solid #AAA;
    font-family: Consolas, monospace;
    font-size: 12px;
    margin-top: 20px;
    overflow-wrap: break-word;
}

#popup-key input[type='number'] {
    -moz-appearance: textfield;
}

#popup-key input[type=number]::-webkit-inner-spin-button,
#popup-key input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#presets select {
    width: 200px;
}